<< define "index" >>
<html>
	<head>
		<title>Certbit Log</title>
		<meta name="viewport" content="width=device-width initial-scale=1 user-scalable=no" >
		<link rel="stylesheet" href="/css/angular-material.min.css">
		<link rel="stylesheet" href="/css/fonts.css">
	</head>
	<body ng-app="webtail">
	<div ng-controller="mainController as mc" layout="column" ng-cloak>
		<md-toolbar class="md-hue-2 md-whiteframe-z3">
			<div class="md-toolbar-tools">
				<section layout="row" flex>
					<div ng-click="mc.toggleSideNav()" layout="column">
						<h2>Certbit Log</h2>
					</div>
					<div layout="column" flex layout-align="center center">
						<h3 id="filename"></h3>
					</div>
				</section>
			</div>
		</md-toolbar>
		<md-content flex layout-padding id="container">
			<!-- Content will be inserted by websocket connection -->
		</md-content>
		<div>
			<section layout="row">
				<md-sidenav class="md-sidenav-left" md-component-id="left" md-whiteframe="4">
					<md-toolbar>
						<h1 class="md-toolbar-tools">Certbit Log Directory</h1>
					</md-toolbar>

					<md-content>
						<md-list>
						<<range .FileList>>
							<md-list-item class="md-3-line" id="filelist">
							<div class="md-list-item-text" onClick="open_connection(<<.>>)">
								<<.>>
							</div>
							</md-list-item>
							<md-divider></md-divider>
						<<end>>
						</md-list>
					</md-content>
			</section>
		</div>
	</div>
	</body>
	<script src="/js/angular.min.js"></script>
	<script src="/js/angular-animate.min.js"></script>
	<script src="/js/angular-messages.min.js"></script>
	<script src="/js/angular-aria.min.js"></script>
	<script src="/js/angular-ui-router.min.js"></script>
	<script src="/js/angular-material.min.js"></script>
	<script src="/js/ui-bootstrap.min.js"></script>
	<script src="/js/ui-bootstrap-tpls.min.js"></script>
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
	<script src="/js/app.js"></script>
	<script src="/js/index.js"></script>
	<script src="/js/websock.js"></script>
	<style type="text/css">
		.scrollLock{
			position: fixed;
		}
		md-sidenav, md-backdrop,  {
			position: fixed !important;
		}
	</style>
</html>
<< end >>
